/* Vue d'ensemble */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Le body */
html{
  padding: 5px;
  box-sizing:border-box;
  max-height: 100vh;
  overflow: hidden;
}
body {
  margin: 0;
  box-sizing:border-box;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  align-content: space-around;
  gap: 1rem;
  background-color: rgb(254, 254, 254);
  border: 3px solid rgb(190, 186, 186);
  border-radius: 5px;
  padding: 1%;

  font-family: "Poppins", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* Le header et le footer */
header,
footer {
  background-color: rgb(255, 255, 255);
  position: sticky; /* fixe mais ne cache pas le reste */
  font-size: 1rem;
  grid-column-start: 1;
  grid-column-end: -1;
  border: 2px solid rgb(90, 90, 90)
}

header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
header p,
footer p {
  color: rgb(71, 71, 71);
  text-align: center;
}

/* La mise en forme commune  */
article,
main,
aside {
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
}

/* Le aside à gauche contenant les photos  */
aside {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5% 5%;
  justify-content: space-around;
  padding: 1rem;
  overflow: auto;
}
aside h1 {
  grid-column-end: -1;
  grid-column-start: 1;
}

/* Le main contenant le poster pêle-mêle */
#poster {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5% 5%;
  border: 2px solid rgb(202, 202, 202);
  border-radius: 5px;
  justify-content: space-around;
  overflow: hidden;
}

.depot {
  /* les cadres pour déposer les photos */
  width: 100px;
  height: 100px;
  border: 1px dashed red;
  margin: 1rem;
  text-align: center;
  resize: both;
  overflow: hidden;
}

/* Repérer les div ou les images sélectionnées */
.selected {
  border: 2px solid red;
}

/* Les textes  */
h1 {
  text-align: center;
}

/* Les textes  */
article p {
  text-align: justify;
  margin: 1rem;
}

/* Les images du canva */
.depotImage {
  width: 100%;
  height: 100%;
}

/* Les images importées */
.importedImage {
  width: 100px;
  height: 100px;
}

/* Les zone de dépot */
[alt^="clickableFields"] {
  text-align: center;
}
